body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#eventForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    width: 300px;
  
}

#eventForm label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;

}

#eventForm input[type="text"], 
#eventForm input[type="password"], 
#eventForm input[type="datetime-local"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 14px;
    margin-top: -12px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#eventForm input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

#eventForm input[type="submit"]:hover {
    background-color: #0056b3;
}





#eventList {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

#eventList p {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.5;
}


